@model VivaCumuru.Models.Loja

@{
    ViewData["Title"] = "Delete";
}
<h3>Deseja Deletar esta Loja ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Instagran)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Instagran)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UrlLocalizador)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UrlLocalizador)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Funcionamento)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Funcionamento)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SubCategoria)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SubCategoria.SubCategoriaNome)
        </dd class>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="LojaId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
    </form>
</div>
